/*Stylesheet*/

body {
    color: #555;
}

.home {
    background-image: url("../img/rough-horn-2146181_1920.jpg");
    min-height: 800px;
    background-size: cover;
}

#home {
    font-size: 0;
}

.sv-block {
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
}

/*For Typed-JS*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

