body {
    padding: 0 5vw;
    background-image: url("../img/cork-wallet.png");
}

h1,h3 {
    font-family: 'Raleway', sans-serif;
}

h2,.item {
    font-family: 'Josefin Sans', sans-serif;   
}

h3 {
    color: #337ab7;
    text-align: center;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

::-webkit-scrollbar { 
    display: none; 
}

.fa {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
}

.custom-container {
    margin-top: 50px;
    
}

.profile-container {
    position: fixed;
}

.content-container {
    /*overflow: scroll;
    height: 100%;*/
}

.item {
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px lightgray;
    padding: 30px;
    margin-bottom: 50px;
}

.tech {
    padding-top: 25px;
}

.di {
    font-size: 60px;
    padding: 25px;
}

.logo {
    width: 300px;
    margin-left: -30px;
}

.button {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 18px;
}